@font-face { font-family: noto; src: url('fonts/Noto_Sans/NotoSans-Regular.ttf'); }
@font-face { font-family: noto; font-weight: bold; src: url('fonts/Noto_Sans/NotoSans-Bold.ttf');}

body {
  background: #F8F8F8;
}

.unselectable {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.fill {
  height: 100%;
  width: 100%;
}
