@font-face { font-family: product-sans; font-weight: bold; src: url('../fonts/Product_Sans/ProductSans-Regular.ttf');}
@font-face { font-family: open-sans-light; font-weight: bold; src: url('../fonts/Open_Sans/OpenSans-Light.ttf');}
@font-face { font-family: open-sans-regular; font-weight: bold; src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');}

#header {
  height: 40em;
  padding-top: 12em;
}

.home-header {
  height: 18em;
}

.home-header img {
  height: 7em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -1em;
}

.home-header h1 {
  color: white;
  font-size: 2.5em;
  margin-bottom: 1em;
  font-family: product-sans, sans-serif;
}

.home-header .btn {
  font-size: 1.1em;
  background: #02A95A;
  border-radius: 0.5em;
}

.home-gray-container {
  background: #F8F8F8;
}

.home-white-container .col {
  background: #FFF;
  height: 35em;
  overflow-y: hidden;
}

.home-white-container img {
  width: 100%;
}

.home-white-container h1 {
  color: #696969;
  font-size: 3em;
  font-family: open-sans-regular, sans-serif;
  margin-bottom: -0.1em;
  margin-top: 3.5em;
}

.home-gray-container h1 {
  color: #696969;
  font-size: 3em;
  font-family: open-sans-regular, sans-serif;
  margin-bottom: -0.1em;
}

.home-white-container p,
.home-gray-container p {
  color: #696969;
  font-size: 1.3em;
  font-family: open-sans-light, sans-serif;
}

.home-gray-container-cards img {
  height: 10em;
}

.home-gray-container-cards figcaption {
  color: #696969;
  font-size: 1.7em;
  font-family: open-sans-light, sans-serif;
  margin-bottom: 3em;
}

.home-gray-container img{
  margin-top: 2.5em;
  height: 10em;
  margin-right: 1.1em;
  margin-left: 1.1em;
}

.home-warrior {
  height: 25em;
}

.parallax img {
  height: 130%;
}

.home-special-link {
  font-size: 0.7em;
  color: #9a9a9a;
}

.blog-container {
  background: #FFF;
  padding-bottom: 6em;
}

.blog {
  max-width: 1050px;
  width: 90%;
}

.blog-container h1 {
  color: #696969;
  font-size: 3em;
  font-family: open-sans-regular, sans-serif;
  margin-top: 1.3em;
  /*margin-bottom: -0.1em;*/
  text-overflow: ellipsis;
}

.blog-container h5 {
  color: #696969;
  font-size: 1.3em;
  height: 2.6em;
  margin: 1em;
  font-family: open-sans-regular, sans-serif;
  text-overflow: ellipsis;
}

.blog-container p {
  color: #696969;
  height: 6em;
  font-family: open-sans-light, sans-serif;
  margin: 1em;
  margin-bottom: 3em;
  text-overflow: ellipsis;
}

.blog a {
  margin: 1em;
}

.blog-post {
  height: 35em;
}

.blog-post img {
  max-height: 100%;
  max-width: 100%;
}

@media (max-width: 900px) {
  .home-white-container h1 { margin-top: 2.5em; }
}

@media (max-width: 600px) {
  .home-white-container h1 {
    margin-top: 1.5em;
  }
  .home-white-container .col {
    height: 25em;
  }
  .home-gray-container img {
    margin-left: 0em;
    margin-right: 0em;
    height: 6em;
  }
  .home-gray-container p {
    margin-left: 1em;
    margin-right: 1em;
  }
  .home-gray-container h1 {
    margin-left: 0.4em;
  }
  .blog-container h1 {
    margin-left: 0.4em;
  }
}
