<div ng-controller='eventsCtrl'>

  <div id='topContainer'>
    <div class='container'>

      <div id='eventsTitle' class='unselectable'>
        Events Calendar
      </div>

      <!-- FEATURED EVENT -->
      <div class='card'>
        <div class='row'>
          <div class='col s3 featuredEvent'>
            <img src='img/events/Rectangleaas@2x.png' class='unselectable'></img>
          </div>
          <div class='col s7 offset-s1 featuredEvent'>
            <div class="card-title">Featured GDG Event</div>
            <p class='description'>
              LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology.
            </p>
            <div class='card-action'>
              <a class='unselectable' href='https://www.google.com'>Learn More ></a>
            </div>
          </div>
        </div>
      </div>

      <!-- List of events -->
      <div class='card mainEventList'>

        <div class='row'>
          <div class='col s12'>
            <div class='card-title'>
              Upcoming Events
            </div>
          </div>
        </div>

        <div class='row' ng-repeat='date in eventList'>
          <div class='col s4 m3 l2 date'>
            <p class='dateNumber'>{{date.day}}</p>
            <p class='dateMonth'>{{date.month}}</p>
          </div>
          <div class='col s4 m3 l2 event' ng-repeat='event in date.events'>
            <a ng-href='{{event.url}}'>
              <img class='hackathonIcon unselectable' ng-src='{{event.image}}'>
              <p>{{event.name}}</p>
            </a>
          </div>
        </div>

        <div class='card-action'>
          <a class='unselectable' href='https://www.google.com'>Learn More ></a>
        </div>

      </div>

      <!-- OTHER EVENT -->
      <div class='card'>
        <div class='row'>
          <div class='col s3 featuredEvent'>
            <img src='img/events/Rectangle 214@2x.png' class='unselectable'>
          </div>
          <div class='col s7 offset-s1 featuredEvent'>
            <div class="card-title">Have Your Event Featured</div>
            <p class='description'>
              LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology.
            </p>
            <div class='card-action'>
              <a class='unselectable' href='https://www.google.com'>Learn More ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='footer-spacer'></div>
  <!-- Footer -->
  <footer class="page-footer">
    <div class='row'>
      <div class='col l4 m6 s12'>
        <img src='img/icons/Google.png' class='unselectable'></img>
      </div>
      <div class='col l2 m3 s0 offset-l6 offset-m3 offset-s12'>
        <div class='cool-box'>
          <a href='https://plus.twitter.com'>
            <img src='img/icons/twitter@2x.png' alt='google-plus.png'>
          </a>
        </div>
        <div class='cool-box'>
          <a href='https://plus.facebook.com'>
            <img src='img/icons/facebook@2x.png' alt='google-plus.png'>
          </a>
        </div>
        <div class='cool-box'>
          <a href='https://plus.google.com'>
            <img src='img/icons/google-plus@2x.png' alt='google-plus.png'>
          </a>
        </div>
      </div>
    </div>
  </footer>
  </div>

</div>
