<div ng-controller='homeCtrl'>

  <div id='header' class='parallax-container unselectable'>
    <div class='row'>
      <div class='col l6 m8 s10 offset-s1 offset-m2 offset-l3 home-header centered'>
        <img src='../img/icons/GDG.png'>
        <h1>Google Developer Groups</h1>
        <a class='waves-effect waves-light btn'>Apply Now</a>
      </div>
    </div>

    <div class='parallax'>
      <img src='../img/home/Header.png'>
    </div>
  </div>

  <div class='container unselectable'>
    <div class='row centered'>
      <div class='col l8 m10 s12 offset-m1 offset-l2 home-gray-container centered'>
        <h1>A Creative Community</h1>
        <p> A community of builders, coders, and designers. <br>
        The first of it's kind in Canada, based at the University of Waterloo</p>
      </div>
    </div>
    <div class='row centered'>
      <div class='col l4 m6 s12 home-gray-container-cards'>
        <figure>
          <img src='../img/home/pen-tool@2x.png' alt='pen-tool.png'>
          <figcaption>Design features with users at the forefront</figcaption>
        </figure>
      </div>

      <div class='col l4 m6 s12 home-gray-container-cards'>
        <figure>
          <img src='../img/home/iMac@2x.png' alt='iMac.png'>
          <figcaption>Code for the entire technology stack</figcaption>
        </figure>
      </div>

      <div class='col l4 m6 s12 home-gray-container-cards'>
        <figure>
          <img src='../img/home/strategy@2x.png' alt='strategy.png'>
          <figcaption>Strategize for risk-free moonshots</figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div class='parallax-container unselectable home-warrior'>
    <div class='parallax'>
      <img src='../img/home/c007222_warrior_fans-1680x1050-wallpaper@2x.png'>
      <!-- <img src='../img/home/c007222_warrior_fans-1680x1050-wallpaper.jpg'> -->
    </div>
  </div>

  <div class='row unselectable'>
    <div class='col l7 m10 s12 offset-m1 offset-l1 home-gray-container'>
      <h1>Top Tech Talent</h1>
      <p> GDG Waterloo is the first Google Developer Group in all of Canada. Let's show Google that our talented builder, innovator, and coder community was the correct choice.</p>
    </div>
  </div>

  <div class='row unselectable home-white-container'>
    <div class='col l5 m5 s12'>
      <img src='../img/home/logos-white@2x.png' alt='strategy.png'>
    </div>

    <div class='col l7 m7 s12'>
      <div class='container home-white-container'>
        <h1>Cross Platform Wizardry</h1>
        <p>Learn to develop and create across all of Google's mobile and web platforms. May your creativity know no bounds.</p>
        <a href='https://www.google.com'>
        <p><span class='home-special-link'>Let us know what you want to learn ></span></p>
        </a>
      </div>
    </div>
  </div>

  <div class='space'></div>
  <div class='space'></div>
  <div class='space'></div>
  <div class='space'></div>
  <div class='space'></div>
  <div class='space'></div>

</div>
